html {
    font-size: 125%;
}

h1 {
    color: dodgerblue;
}

.red {
    color: red;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    background-color: lightblue;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: none;
}

.card-1 {
    display: block;
}
