.play-window {
    max-width: 850px;
    width: calc(100vw - 200px);
    min-height: calc(100vh - 350px);
    background: url(../assets/parchment.jpg) no-repeat center;
    background-size: cover;
    border: 10px solid $parchment;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.intro {
    width: 65%;
    background-color: $light-opacity;
    margin: 50px;
    padding: 10px 12px;
    border-radius: 10px;
    p {
        @include font-size(30);
        text-align: center;
    }
}