.coat-of-arms {
    width: 450px;
    height: 600px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    clip-path: polygon(50% 0%, 0% 8%, 0% 50%, 2% 60%, 4% 65%, 6% 70%, 8% 75%, 10% 80%, 12% 85%, 15% 90%, 25% 95%, 50% 100%, 75% 95%, 85% 90%, 88% 85%, 90% 80%, 92% 75%, 94% 70%, 96% 65%, 98% 60%, 100% 50%, 100% 8%);
}

.coat-of-arms-container {
    width: 470px;
    min-height: 620px;
    background-color: $light-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 0% 8%, 0% 50%, 2% 60%, 4% 65%, 6% 70%, 8% 75%, 10% 80%, 12% 85%, 15% 90%, 25% 95%, 50% 100%, 75% 95%, 85% 90%, 88% 85%, 90% 80%, 92% 75%, 94% 70%, 96% 65%, 98% 60%, 100% 50%, 100% 8%);
}

.quadrant {
    width: 50%;
    height: 300px;
    position: relative;
    img {
        min-width: 100%;
        object-fit: fill;
        height: 100%;
    }
}

.final-card {
    width: calc(100vw - 200px);
    min-height: calc(100vh - 200px);
    height: auto;
    max-width: auto;
}

.card-update {
    position: static;
    padding: 25px;
}

.final-position {
    justify-content: center;
}

.results-display {
    h2 {
        text-align:center;
        font-family: $accent-font;
        @include font-size(40);
    }
    h3 {
        text-align: center;
    }
}