article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%;
  font-family: "IM Fell DW Pica SC", serif; }

img {
  display: block;
  width: 100%; }

main {
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(255, 214, 221, 0.4);
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 75px 25px; }

button {
  padding: 20px;
  border: none; }

button.launch {
  background-color: rgba(239, 239, 239, 0.3);
  color: #070707;
  text-transform: uppercase;
  height: 150px;
  width: 250px;
  font-size: 25px;
  font-size: 1.25rem;
  border: 5px solid #efefef;
  border-radius: 10px; }
  button.launch:hover {
    background-color: rgba(255, 214, 221, 0.4); }
  button.launch:focus {
    background-color: #FFD6DD;
    border: 5px solid #070707; }

button.next {
  margin: 25px auto;
  border: 2px solid #efefef; }
  button.next:focus {
    background-color: #FFD6DD;
    border: 2px solid #070707; }

button.results {
  margin: 25px;
  background-color: blue;
  color: white; }

button.label-container:focus-within {
  border: 10px solid #efefef; }

h1 {
  font-family: "UnifrakturCook", cursive;
  color: #070707;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  font-size: 70px;
  font-size: 3.5rem;
  text-align: center; }
  h1 span {
    padding: 0 10px; }

h3 {
  text-align: center;
  margin: 0 0 25px;
  font-size: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #070707; }

.disappear {
  display: none; }

.play-window {
  max-width: 850px;
  width: calc(100vw - 200px);
  min-height: calc(100vh - 350px);
  background: url(../assets/parchment.jpg) no-repeat center;
  background-size: cover;
  border: 10px solid #ffe1a8;
  position: relative; }

.card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

div.intro {
  width: 65%;
  background-color: rgba(239, 239, 239, 0.3);
  margin: 50px;
  padding: 10px 12px;
  border-radius: 10px; }
  div.intro p {
    font-size: 30px;
    font-size: 1.5rem;
    text-align: center; }

div.question-container {
  width: 90%;
  margin: 0 5%;
  background-color: rgba(239, 239, 239, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  border: solid 5px #efefef; }

.label-container {
  width: calc(50% - 40px);
  height: 125px;
  background-color: #ffe1a8;
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border: 2px solid #ffe1a8; }

input {
  display: none; }

fieldset {
  border: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  fieldset h2 {
    text-align: center;
    font-size: 40px;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 10px; }
  fieldset label {
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 60px 0;
    color: #070707;
    z-index: 10; }
  fieldset a {
    text-decoration: none;
    width: 100%; }
    fieldset a:focus {
      color: red; }
    fieldset a:focus-within {
      color: red; }

.label-checked {
  color: #FFD6DD; }

.div-checked {
  background-color: #FFD6DD;
  border: 2px solid #efefef; }

.coat-of-arms {
  width: 450px;
  height: 600px;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-clip-path: polygon(50% 0%, 0% 8%, 0% 50%, 2% 60%, 4% 65%, 6% 70%, 8% 75%, 10% 80%, 12% 85%, 15% 90%, 25% 95%, 50% 100%, 75% 95%, 85% 90%, 88% 85%, 90% 80%, 92% 75%, 94% 70%, 96% 65%, 98% 60%, 100% 50%, 100% 8%);
  clip-path: polygon(50% 0%, 0% 8%, 0% 50%, 2% 60%, 4% 65%, 6% 70%, 8% 75%, 10% 80%, 12% 85%, 15% 90%, 25% 95%, 50% 100%, 75% 95%, 85% 90%, 88% 85%, 90% 80%, 92% 75%, 94% 70%, 96% 65%, 98% 60%, 100% 50%, 100% 8%); }

.coat-of-arms-container {
  width: 470px;
  min-height: 620px;
  background-color: #FFD6DD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-clip-path: polygon(50% 0%, 0% 8%, 0% 50%, 2% 60%, 4% 65%, 6% 70%, 8% 75%, 10% 80%, 12% 85%, 15% 90%, 25% 95%, 50% 100%, 75% 95%, 85% 90%, 88% 85%, 90% 80%, 92% 75%, 94% 70%, 96% 65%, 98% 60%, 100% 50%, 100% 8%);
  clip-path: polygon(50% 0%, 0% 8%, 0% 50%, 2% 60%, 4% 65%, 6% 70%, 8% 75%, 10% 80%, 12% 85%, 15% 90%, 25% 95%, 50% 100%, 75% 95%, 85% 90%, 88% 85%, 90% 80%, 92% 75%, 94% 70%, 96% 65%, 98% 60%, 100% 50%, 100% 8%); }

.quadrant {
  width: 50%;
  height: 300px;
  position: relative; }
  .quadrant img {
    min-width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    height: 100%; }

.final-card {
  width: calc(100vw - 200px);
  min-height: calc(100vh - 200px);
  height: auto;
  max-width: auto; }

.card-update {
  position: static;
  padding: 25px; }

.final-position {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.results-display h2 {
  text-align: center;
  font-family: "UnifrakturCook", cursive;
  font-size: 40px;
  font-size: 2rem; }

.results-display h3 {
  text-align: center; }

@media only screen and (max-width: 1050px) {
  h1 {
    width: 650px; } }

@media only screen and (max-width: 950px) {
  fieldset label {
    padding: 50px 0;
    font-size: 20px;
    font-size: 1rem; }
  .label-container {
    height: 150px; } }

@media only screen and (max-width: 750px) {
  .play-window {
    width: 90%; } }

@media only screen and (max-width: 650px) {
  h1 {
    width: 500px;
    font-size: 50px;
    font-size: 2.5rem; }
  h3 {
    font-size: 18px;
    font-size: 0.9rem; }
  div.intro p {
    font-size: 25px;
    font-size: 1.25rem;
    line-height: 1.5; }
  div.coat-of-arms-container {
    width: 400px;
    min-height: 520px; }
  .coat-of-arms {
    width: 380px;
    height: 500px; }
  .quadrant {
    height: 50%; }
  div.question-container {
    width: 95%;
    padding: 20px 0;
    margin: 0 2.5%; }
  fieldset {
    padding: 20px 10px; } }

@media only screen and (max-width: 550px) {
  .play-window {
    width: 100%; }
  fieldset h2 {
    font-size: 30px;
    font-size: 1.5rem; } }

@media only screen and (max-width: 500px) {
  .label-container {
    width: calc(100% - 40px);
    height: 100px;
    margin: 10px 20px; }
  h1 {
    width: 90%;
    margin: 0 5%;
    text-align: center; }
  main {
    padding: 50px 15px; } }

@media only screen and (max-width: 465px) {
  div.coat-of-arms-container {
    width: 350px;
    min-height: 470px; }
  .coat-of-arms {
    width: 330px;
    height: 450px; } }

@media only screen and (max-width: 400px) {
  div.coat-of-arms-container {
    width: 300px;
    min-height: 390px; }
  .coat-of-arms {
    width: 280px;
    height: 370px; }
  main {
    padding: 30px 5px; } }
